* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  canvas {
    display: block;
    border: 2px solid black;
  }
  .container
  {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      margin-top: 3%;
  }
  .jump,.duck
  {
      margin: 5%;
      font-size: 200%;
      background-color: bisque;
      padding: 1%;
  }
  